* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: helvetica;
}
:root {
	--lg: #;
	--dk: #130D4D;
}
h2 {
	text-align: center;
}
ul {
	list-style: none;
}
nav li {
	font-size: 1rem;
	text-align: center;
	border: 1px solid white;
	border-radius: 5px;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
}
nav li:hover {
	background-color: white;
	color: #130D4D;
}
#titulo {
	display: flex;
	flex-direction: column;
	align-items: center;	
	justify-content: space-around;
	background-color: var(--dk);
	color: #eee;	
	font-size: 1.4rem;
	height: 100vh;
}
#titulo p {
	text-align: center;
}
#titulo img {
	width: 80%;
}
#titulo p {
	font-size: 1.1rem;
}
#cuerpo {
	display: grid;
	grid-template-columns: 20% 80%;
}
#aparador {
	max-height: 100vh;
	overflow: auto;
	overflow-x: hidden;
}
#aparador img {
	max-width: 400px;
}
h1 {
	font-size: 1.4rem;
	text-align: center;
}
h2 {
	font-size: 1.2rem;
	margin: 10px 0;
}
#proyectos { 
	padding: 10px;	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	width: 100%;
}
.tarjeta-rect {
	background-color: var(--dk);
	color: #eee;
}
.tarjeta-img {
	overflow: hidden;
}
.tarjeta-info {
	padding: 10px;
}
.tarjeta-info > p:first-child {
	font-size: 1.4rem;
}
.t-descripcion {
	margin-top: 10px;
}
.t-cont-iconos {
	background-color: #eee;
	border-radius: 5px;
	display: inline;
	padding: 10px;
}
.t-cont-iconos:hover {
	opacity: 0.8;
}
.tarjeta-rect img {
	width: 100%;
}
.tarjeta-rect img:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: transform 2s ease;
}
i {
	color: var(--dk);
	font-size: 22px;
	margin: 10px 0;
}
.p-intereses > div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	padding: 10px;
}