:root {
    --fondo: #F7F2EF;
    --primary: #E74A43;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
    box-sizing: border-box;
}
body {
    background: var(--fondo);
    margin: 30px 50px;
    line-height: 1.4;
}
#img-perfil {
    border-radius: 50%;
    height: 100%;
}
header {
    height: 10vh;
}
#showcase, #dash {
    width: 80%;
    margin: 0 auto;
}
.panel {
    width: 100%;
    height: minmax(300px, 80vh);
    background-color: var(--primary);
}
.panel-habilidades, .panel-experiencia, .panel-personal {
    display: none;
}
.panel-proyectos div {

}
#dash {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 10px;
}
button {
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: var(--primary);
    color: var(--light);
}
.selected {
    border-bottom: 2px solid black;
}

/* panel de proyectos */
#reja-proyectos {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);    
}
#reja-proyectos div img {
    width: 100%;
}
#reja-proyectos div img:hover {
    opacity: 0.6;
}

