* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: helvetica;
}
:root {
	--lg: #;
	--dk: #130D4D;
}
#titulo {
	background-color: var(--dk);
	color: #eee;
	padding: 10px;
	font-size: 1.4rem;
}
.contenedor {
	width: 90%;
	margin: 0 auto;
}
h1 {
	text-align: center;
}
h2 {
	font-size: 1.2rem;
	margin: 10px 0;
}
#proyectos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.tarjeta-rect {
	background-color: var(--dk);
	color: #eee;
}
.tarjeta-img {
	overflow: hidden;
}
.tarjeta-info {
	padding: 10px;
}
.tarjeta-info > p:first-child {
	font-size: 1.4rem;
}
.t-descripcion {
	margin-top: 10px;
}
.t-cont-iconos {
	background-color: #eee;
	border-radius: 5px;
	display: inline;
	padding: 10px;
}
.tarjeta-rect img {
	width: 100%;
}
.tarjeta-rect img:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: transform 2s ease;
}
i {
	color: var(--dk);
	font-size: 22px;
	margin: 10px 0;
}
 {
 
